* {
    background-color: #393E41;
    color: #F6F7EB;
    font-family: 'Space Mono', monospace;
}

nav h1 {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 1%;
    font-weight: bolder;
    border: solid #393E41;
    background: #393E41;
    display: inline-block;
}

nav .nav-link {
    color: white;
    font-weight: bold;
}

nav {
    background-color: transparent;
}

.page {
    background-color: #393E41;
    color: #F6F7EB;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 1em;
    padding-top: 1em;
}

h1,
h2 {
    color: #E94F37
}

.space {
    padding-bottom: 1em;
}

footer div {
    display: inline-block;
    margin-right: 1%;
    
}

.hero-image {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("./images/hero.png"); 
    /* image from https://www.pinterest.com/pin/301670875035415205/ */
    background-size: cover;
    background-position: center;
}

nav > ul {
    background-color: rgba(0, 0, 0, 0);
}

.nav-item {
    background-color: #5C8001;
    border-top-left-radius: 14%;
    border-top-right-radius: 14%;
}

/* .one {
    border-top-left-radius: 14%;
} */
.card-link {
    display: block;
}